* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color1: #F0EFF6;
    --color2: #BFADA8;
    --color3: #B68375;
    --color4: #8C5B4C;
    --color5: #65504E;
}

.hidden {
    max-height: 0px;
}

main {
    position: relative;
    width: 600px;
    margin: 10px;
}

ul {
    list-style-type: none;
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: var(--color3);

    z-index: 100;
}



li {
    overflow: hidden;
}
button {
    width: 100%;
    border-radius: 0;
    margin-bottom: 2px;
    padding: 10px 0px;
    border: none;
    font-weight: bold;
}

button.single-cat {
    background-color: var(--color2);
    
}

button.single-cat:hover {
    background-color: #b99186;
}

button.single-cat:active {
    background-color: #81645c;
    color: white;
}

button.big-cat {
    background-color: #926d63;
    color: white;
    font-size: 16px;
}

button.big-cat:hover {
    background-color: #b88678;
}

button.big-cat:active {
    background-color: #805d54;
    color: white;
}


figure img {
    width: 100%;
}

figcaption {
    background-color: black;
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 5px 0px;
}